/* Base
----------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  /* h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color: #333;
  } */
  
  /* Base [END]
  ----------------------------------------------------------- */
  /* Hero
  ----------------------------------------------------------- */
  .hero {
    width: 100%;
    height: 100vh;
    padding-bottom: 52.5%;
    position: relative;
    background-image: url("images/skyscrapers-4168483_1280.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .hero:before {
    content: "";
    background-color: rgba(38, 194, 218, 0.15);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    width: 100%;
  }
  .hero__title {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: white;
  }
  .hero__text {
    font-size: 1.8rem;
    color: #efefef;
  }
  
  /* Hero [END]
  ----------------------------------------------------------- */
  /* Main Content
  ----------------------------------------------------------- */
  .main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
  }
  .main-content p {
    -moz-column-count: 2;
         column-count: 2;
  }
  @media only screen and (max-width: 600px) {
    .main-content p {
      -moz-column-count: 1;
           column-count: 1;
    }
  }
  #sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #4070f4;
    z-index: 2;
    transition: 0.5s;
  }
  nav ul li{
    list-style: none;
    margin:50px 20px;
  }
  nav ul li a{
    text-decoration: none;
    color:white;
  }
  header{
    height: 60px;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 2;
  }
  #logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #4070f4;
  }
  #logo:hover{
    color:#ecf0f1;
  }
  #logo-s{
    color: #ecf0f1;
    margin-left: 5px;
  }
  #logo:hover #logo-s{
    color:#4070f4;
  }
  #manuBtn{
      width:50px;
      height: 50px;
      background: #4070f4;
      text-align: center;
      position: fixed;
      right: 30px;
      top:20px;
      border-radius: 3px;
      z-index: 3;
      cursor: pointer;
  }
  #manuBtn img{
     width: 20px;
     margin-top: 15px;
  }
  nav ul li a:hover{
    color:#3c40a4;
  }
  .title-text{
    text-align: center;
    padding-bottom: 70px;
  }
  .title-text p{
    margin: auto;
    font-size: 40px;
    color:#a89ed6;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  .title-text p::after{
     content: '';
     width: 50px;
     height: 35px;
     background: linear-gradient(#a0d28c,#fff);
     position: absolute;
     top: -20px;
     left: 0;
     z-index: -1;
     transform: rotate(10deg);
     border-top-left-radius: 35px;
     border-bottom-right-radius: 35px;
  }
  .title-text h1{
    font-size: 50px;
  }
  #footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
  }
  .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-left img{
    width:180px;
    height: 180px;
    transition: all 2s ease-in-out;
  }
  .footer-left img:hover{
    transform: rotate(360deg);
  }
  .footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer-right{
    text-align:right;
  }
  .footer-row h1{
    margin:10px 0;
  }
  .footer-row p{
    line-height: 35px;
  }
  .footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color:#3c40a4;
    margin: 10px;
  }
  .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top:21%;
    transform: translate(-50%,-50%);
  }
  .social-links{
    text-align: center;
  }
  .social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border:1px solid #3c40a4;
    margin: 40px 5px 0;
    color:#3c40a4;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
  }
  .social-links .fa:hover{
   background: #3c40a4;
   color:#fff;
   transform: translateY(-7px);
  }
  .social-links p{
    font-size: 12px;
    margin-top: 20px;
  }
  @media screen and (max-width : 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top:15%;
    }
    .title-text p{
      font-size: 30px;
    }
  }
  .news{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .news .news-row{
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
  }
  .news-row .news-column{
    flex:1 1 20rem;
  }
  .news-column .news-box{
      border-left: .2rem solid #3498db;
  }
  .news-box .news-content{
    position: relative;
    padding-left: 2rem;
  }
  .news-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #3498db;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    color: #112e42;
  }
  .news-content .content:hover .year{
    color:white;
  }
  .news-content .content:hover .element{
    color:white;
  }
  .news-content .content:hover{
    color:white;
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.6);
    transform: scale(1.04);
  }
  .news-content .content::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width:0%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: .5s;
  }
  .news-content .content:hover::before{
      width:100%;
  }
  .news-content .content .year{
    font-size: 1.4rem;
    color: #3498db;
    padding: .5rem;
  }
  .news-content .content .element{
    font-size: 1.2rem;
    color: #112e42;
    padding: .4rem;
  }
  .news-content .content .element i {
    padding-right: .2rem;
  }
  .news-content .content .year i {
    padding-right: .2rem;
  }
  .news-content .content p{
    font-size: 1.2rem;
    padding-top: .5rem;
  }
  .news-box .news-content::before{
    content: '';
    position: absolute;
    top:0;
    left:-1.1rem;
    width: 2rem;
    height: 2rem;
    background: #3498db;
    border-radius: 50%;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }